<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159021994881-qobqo34ksee6jl64kcodq19c9jvfpvid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159021994881-qobqo34ksee6jl64kcodq19c9jvfpvid</string>
	<key>API_KEY</key>
	<string>AIzaSyB4DOX4dj2cJ4mhFO8JhCLQop3mlOx_P7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>159021994881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lab.onnela.beiwe.ios</string>
	<key>PROJECT_ID</key>
	<string>beiwe-20592</string>
	<key>STORAGE_BUCKET</key>
	<string>beiwe-20592.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159021994881:ios:4891eb130dec029cdb8e80</string>
	<key>DATABASE_URL</key>
	<string>https://beiwe-20592.firebaseio.com</string>
</dict>
</plist>