<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>config-server</key>
	<true/>
	<key>server-url</key>
	<string>https://studies.beiwe.org</string>
	<key>sentry-dsn</key>
	<string>release</string>
	<key>a</key>
	<string>Hvd</string>
</dict>
</plist>
